html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  width: 100%;

  background-color: #000000;
  color: aliceblue;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
form {
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
	input[type="checkbox"].visually-hidden,
	input[type="radio"].visually-hidden {
  		position: absolute;
  
  		width: 1px;
  		height: 1px;
  		margin: -1px;
  		border: 0;
  		padding: 0;
  
  		clip-path: inset(100%);
  		clip: rect(0 0 0 0);
  		overflow: hidden;
	}


.page-main {
  margin: 0 20px;
}

a {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  font-size: 20px;
  color: aqua;
}

button {
  padding: 7px 10px;
  border-radius: 0 10px 0 10px;
}

ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.menu {
  display: flex;

}

.menu-item {
  margin-right: 15px;
  padding: 10px 20px;
  text-transform: capitalize;
}

.active {
  text-transform: uppercase;
  background-color: #ffffff;
}

.active a {
  font-weight: 700;
  color: #000000;
}

/* User Profile */
.user-profile {
  display: flex;
  align-items: center;
  max-width: 420px;
  margin: 20px 0;
  padding: 10px;
  padding-left: 20px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgb(255, 255, 255),
    0px 1px 1px 0px rgb(255, 255, 255), 0px 2px 1px -1px rgba(255, 255, 255, 0.3);
}

.user-profile .avatar {
  width: 100px;
  border-radius: 50%;
}

.user-profile .info {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 16px;
}

.info li + li {
  margin-top: 8px;
}

/* Transaction table */

.transaction-table {
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  padding: 8px;
  border: 1px solid #212121;
}

/* Form */
.register-form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgb(255, 255, 255),
    0px 1px 1px 0px rgb(255, 255, 255), 0px 2px 1px -1px rgba(255, 255, 255, 0.3);
}

.label {
  display: inline-block;
  font-size: 1.2rem;
  color: #d0d0fe;
  cursor: pointer;
}

.register-form__label {
  margin-bottom: 16px;
}

.input {
  color: #b3b3ff;
  font: inherit;
  font-size: 1.2rem;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  width: 100%;
  outline: 0;
}

input:focus {
  border: 1px solid #2b32b2;
}

.section {
  margin-bottom: 24px;
}

.section__title {
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 8px;
}

.section__label {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}

.radio {
  margin-right: 8px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: #3f51b5;
  border: 0;
  outline: 0;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 1px 1px rgb(255, 255, 255);
  font: inherit;
  text-transform: uppercase;
  user-select: none;

  transition: background-color 200ms ease-in-out;
}

.button__icon {
  margin-right: 4px;
}

.button:hover {
  box-shadow: 0px 2px 1px 1px rgba(255, 255, 255, 0.15);
  background-color: #303f9f;
}

/* Modal*/

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 999;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  padding: 24px;
  border-radius: 4px;
  max-width: 640px;
  width: 100%;
  min-height: 320px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.2),
    0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 2px 1px -1px rgba(255, 255, 255, 0.12);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}